n8n-workflows/confirmacao-agendamento.json
{
  "name": "BarberPro - Confirmação de Agendamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirmacao-agendamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Agendamento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "confirmacao-agendamento"
    },
    {
      "parameters": {
        "jsCode": "// Payload: confirmação OU cancelamento (type: 'cancel'). Campos: client_phone, client_name, barber_name?, service_name, appointment_date, appointment_time, service_price?\nconst body = $input.first().json.body || $input.first().json;\nconst phone = (body.client_phone || body.phone || '').replace(/\\D/g, '');\nconst number = phone.length === 11 ? '55' + phone : phone;\n\nconst clientName = body.client_name || body.clientName || 'Cliente';\nconst barberName = body.barber_name || body.barberName || 'Barbeiro';\nconst serviceName = body.service_name || body.serviceName || 'Serviço';\nconst date = body.appointment_date || body.date || '';\nconst time = body.appointment_time || body.time || '';\nconst price = body.service_price != null ? body.service_price : body.price;\nconst isCancel = body.type === 'cancel';\n\nlet dateFormatted = (date && typeof date === 'string') ? String(date).trim() : '';\nif (dateFormatted.length >= 10 && dateFormatted.includes('-')) {\n  const parts = dateFormatted.slice(0, 10).split('-');\n  if (parts.length === 3 && parts[0] && parts[1] && parts[2]) {\n    dateFormatted = `${parts[2]}/${parts[1]}/${parts[0]}`;\n  }\n}\nconst timeFormatted = (time || '').toString().slice(0, 5);\nconst priceStr = price != null ? `R$ ${Number(price).toFixed(2).replace('.', ',')}` : '';\n\nconst message = isCancel\n  ? `❌ *Agendamento cancelado*\\n\\nOlá, ${clientName}!\\n\\nSeu agendamento foi cancelado.\\n📅 Data: ${dateFormatted}\\n🕐 Horário: ${timeFormatted}\\n✂️ Serviço: ${serviceName}\\n👤 Barbeiro: ${barberName}\\n\\nSe precisar, agende um novo horário pelo app.`\n  : `✅ *Agendamento confirmado!*\\n\\nOlá, ${clientName}!\\n\\nSeu horário foi reservado:\\n📅 Data: ${dateFormatted}\\n🕐 Horário: ${timeFormatted}\\n✂️ Serviço: ${serviceName}\\n👤 Barbeiro: ${barberName}${priceStr ? '\\n💰 Valor: ' + priceStr : ''}\\n\\nAté lá!`;\n\nreturn [{ json: { number, message, raw: body } }];"
      },
      "id": "format-message",
      "name": "Montar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.60.159.183:8080/message/sendText/caio_zap",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.number, options: { delay: 1200, presence: 'composing' }, textMessage: { text: $json.message } } }}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "Evolution API: 72.60.159.183:8080, instância caio_zap"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Confirmação enviada\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Agendamento": {
      "main": [
        [
          {
            "node": "Montar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar mensagem": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
