n8n-workflows/lembrete-15-dias.json
{
  "name": "BookNow - Lembrete 15 dias (reagendar)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-15d",
      "name": "Todo dia 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rubvkpxvgffmnloaxbqa.supabase.co/functions/v1/get-15day-reminder-list",
        "options": {}
      },
      "id": "fetch-list",
      "name": "Buscar clientes (15 dias)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Edge Function: { clients: [ { phone, full_name, evolution_instance } ] }. verify_jwt=false no config."
    },
    {
      "parameters": {
        "jsCode": "// evolution_instance vem da Edge (por barbearia ou master). Base Evolution SEM $env.\nconst EVOLUTION_BASE_DEFAULT = 'http://72.60.159.183:8080';\nconst body = $input.first().json;\nconst clients = body.clients || [];\nif (clients.length === 0) return [];\nlet base = String(EVOLUTION_BASE_DEFAULT);\nif (base.endsWith('/')) base = base.slice(0, -1);\n\nreturn clients.map((c) => {\n  const inst = String(c.evolution_instance || 'caio_zap').trim().replace(/[^a-zA-Z0-9_-]/g, '') || 'caio_zap';\n  const sendUrl = base + '/message/sendText/' + inst;\n  const fullName = c.full_name || 'Cliente';\n  const message = '📅 *BookNow*\\n\\nOlá, ' + fullName + '!\\n\\nJá faz um tempinho desde seu último atendimento. Que tal agendar um novo horário?\\n\\nAbra o app e reserve seu horário. Até lá!';\n  return { json: { phone: c.phone, full_name: fullName, message, sendUrl, evolution_instance: inst } };\n});"
      },
      "id": "split-clients",
      "name": "Montar mensagem e URL Evolution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.sendUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "COLE_AQUI_A_CHAVE_GLOBAL_DA_EVOLUTION"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.phone, options: { delay: 1200, presence: 'composing' }, textMessage: { text: $json.message } } }}",
        "options": {}
      },
      "id": "send-reminder",
      "name": "Enviar lembrete (Evolution)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "URL dinâmica por cliente (instância da loja ou master)."
    }
  ],
  "connections": {
    "Todo dia 9h": {
      "main": [[{ "node": "Buscar clientes (15 dias)", "type": "main", "index": 0 }]]
    },
    "Buscar clientes (15 dias)": {
      "main": [[{ "node": "Montar mensagem e URL Evolution", "type": "main", "index": 0 }]]
    },
    "Montar mensagem e URL Evolution": {
      "main": [[{ "node": "Enviar lembrete (Evolution)", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {}
}
