n8n-workflows/lembrete-15-dias.json
{
  "name": "BarberPro - Lembrete 15 dias (reagendar)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-15d",
      "name": "Todo dia 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "webhookId": ""
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rubvkpxvgffmnloaxbqa.supabase.co/functions/v1/get-15day-reminder-list",
        "options": {}
      },
      "id": "fetch-list",
      "name": "Buscar clientes (15 dias)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Edge Function retorna { clients: [ { phone, full_name } ] }"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst clients = body.clients || [];\nif (clients.length === 0) return [];\nconst message = `📅 *BarberPro*\\n\\nOlá, {{full_name}}!\\n\\nJá faz um tempinho desde seu último atendimento. Que tal agendar um novo horário?\\n\\nAbra o app e reserve seu horário. Até lá!`;\nreturn clients.map((c) => ({ json: { phone: c.phone, full_name: c.full_name || 'Cliente', message: message.replace('{{full_name}}', c.full_name || 'Cliente') } }));"
      },
      "id": "split-clients",
      "name": "Um item por cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.60.159.183:8080/message/sendText/caio_zap",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "caio123" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $json.phone, options: { delay: 1200, presence: 'composing' }, textMessage: { text: $json.message } } }}",
        "options": {}
      },
      "id": "send-reminder",
      "name": "Enviar lembrete WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Evolution API — apikey: caio123"
    }
  ],
  "connections": {
    "Todo dia 9h": {
      "main": [[{ "node": "Buscar clientes (15 dias)", "type": "main", "index": 0 }]]
    },
    "Buscar clientes (15 dias)": {
      "main": [[{ "node": "Um item por cliente", "type": "main", "index": 0 }]]
    },
    "Um item por cliente": {
      "main": [[{ "node": "Enviar lembrete WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {}
}
